@page
@model KnotGames.ProgrammingPuzzles.Pages.EndModel
@{
    ViewData["Title"] = "End";
}

<h1> The End</h1>

<p>I promise there will be more later, this was my little demo. feel free to check it out later to see if I added anything.</p>
<p><a asp-page="StartMenu" class="button">Next</a></p>