@page
@model KnotGames.ProgrammingPuzzles.Pages.OptionsModel
@{
    ViewData["Title"] = "Options";
}

<h1>Options</h1>

<h3>There are no options, but I'll teach you how to play</h3>
<p><a asp-page="OptionPage2" class="button">OK</a></p>
<p><a asp-page="StartMenu" class="button">BACK</a></p>
