@page
@model KnotGames.ProgrammingPuzzles.Pages.StartMenuModel
@{
    ViewData["Title"] = "StartMenu";
}

<h1>Start Menu</h1>
@if (Model.GetPlayerName().ToUpper() == "DELIA")
{
    <p>Hi @Model.GetPlayerName()! Welcome to your game.</p>
}
else
{
    <p>Hi @Model.GetPlayerName()! Welcome to my game.</p>
}

<p><a asp-page="/StoryPage" class="button">START</a></p>
<p><a asp-page="/Options" class="button">OPTIONS</a></p>
<p><a asp-page="/Index" class="button">BACK</a></p>

