@page
@model KnotGames.ProgrammingPuzzles.Pages.Story1Page3And4Model
@{
    ViewData["Title"] = "Story1Page3And4";
}
    <p><a asp-page="StartMenu" class="button">Back</a></p>
<p>"You where snoring!"</p>
<p>"sorry," you muttered</p>
<p><a asp-page="Story1Page4" class="button">Next</a></p>