@page
@model KnotGames.ProgrammingPuzzles.Pages.Story1Page4Model
@{
    ViewData["Title"] = "Story1Page4";
}
    <p><a asp-page="StartMenu" class="button">Back</a></p>

<p>"It's fine, just finish it by Monday!</p>
<p>"I will,"</p>
<p> "good, now go home!"</p>

<p><a asp-page="Story1Page5" class="button">Next</a></p>