@page
@model KnotGames.ProgrammingPuzzles.Pages.Story1Page2Model
@{
    ViewData["Title"] = "Story1Page2";
}

    <p><a asp-page="StartMenu" class="button">Back</a></p>

<p>Upon the computer there was a blank screen, thats was that. Until it started talking! </p>
<p><a asp-page="Story1Page3" class="button">Next</a></p>