@page
@model KnotGames.ProgrammingPuzzles.Pages.StoryPageModel
@{
    ViewData["Title"] = "StoryPage";
}
<a asp-page="StartMenu" class="button">BACK</a>
<h1>Pick a story</h1>

<p><a asp-page="Story1Page1" class="button">PASSION PROJECT</a></p>
<p><a asp-page="___________" class="button">FNAF (sorry OUT OF ORDER)</a></p>
<p><a asp-page="___________" class="button">Unmade (sorry OUT OF ORDER)</a></p>