@page
@model KnotGames.ProgrammingPuzzles.Pages.Story1Page3Model
@{
    ViewData["Title"] = "Story1Page3";
}
    <p><a asp-page="StartMenu" class="button">Back</a></p>
<p>chapter 2</p>
<h1>ugh oh</h1>
<p>"@Model.GetPlayerName()! Wake up!" You yawn and look at your computer programming teacher.</p>
<p>"What?"</p>
<p>"You aren't even done with your second paragraph yet!" he yelled. You turn and look at the computer sitting in front of you. 
It had a half written essay on JS vs C#. you look at the two sentences for the second paragraph you wrote.
it read: C# is good at making big sites, with lots pages, while JS is good at making small sites with few pages, and games.
JS is, it ended mid sentence.[Remember that]</p>
<p>What do you say</p>
<a asp-page="Story1Page3And4" class="button">I-I was thinking</a>
<a asp-page="Story1Page4" class="button">Sorry</a>