@page
@model KnotGames.ProgrammingPuzzles.Pages.Story1Page5And6Model
@{
    ViewData["Title"] = "Story1Page5And6";
}
<p><a asp-page="StartMenu" class="button">Back</a></p>
<p>you woke up in our bed exhausted and fell back asleep.</p>
<p><a asp-page="Story1Page6" class="button">Next</a></p>