@page
@model KnotGames.ProgrammingPuzzles.Pages.Story1Page6Model
@{
    ViewData["Title"] = "Story1Page6";
}
<p><a asp-page="StartMenu" class="button">Back</a></p>
<p>you went to the computer but this time the screen wasn't blank.</p>
<p>On it was the words: JS vs C#. bellow was a button that said Next.</p>
<p>You push Next, don't ask why, you just did. then it said:</p>

<p><a asp-page="Story1Page62" class="button">Next</a></p>

