@page
@model KnotGames.ProgrammingPuzzles.Pages.Story1Page7Model
@{
    ViewData["Title"] = "Story1Page7";
}
<p><a asp-page="StartMenu" class="button">Back</a></p>
<p>You wake up, once again, in front of your computer, but this time you had fallen asleep in the middle of writing: JS is good at making games because_________. JS isn't good at making big things because it takes longer too write and its harder to debug.[remember that]</p>

<p><a asp-page="End" class="button">Next</a></p>
