@page
@model KnotGames.ProgrammingPuzzles.Pages.Story1Page11And2Model
@{
    ViewData["Title"] = "Story1Page11And2";
}

<p><a asp-page="StartMenu" class="button">Back</a></p>
<p>You sit down and you think. you think about where you are and how this is probably a dream but it probably isn't because it seems too real and...</p>

<p>It's too tempting you're going to the computer.</p>
<p><a asp-page="Story1Page2" class="button">Next</a></p>