@page
@model KnotGames.ProgrammingPuzzles.Pages.Story1Page6And7Model
@{
    ViewData["Title"] = "Story1Page6And7";
}
    <p><a asp-page="StartMenu" class="button">Back</a></p>
   <p>A door opens, all you could see through was white light. you walk through it... </p>
   <p><a asp-page="End" class="button">Next</a></p>